* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #de4a74;
  --background-color: #fff;
  --surface-color: #fff9f2;
  --sketeltone-color: #fff0db;
  --meio-ber-color: #f8d6ad;
  --transp-objs-color: #f8d6ad7c;
  --texto-primario-color: #49362c;
  --texto-secundario-color: #a3825f;
  --accent-color-a: #3ff2a1;
  --accent-color-b: #ffb431;

  --font-family: "Nunito Sans", sans-serif;
  --text-super-lg-desk: bold 72px/1.2 var(--font-family);
  --text-heading1-desk: bold 32px/1.2 var(--font-family);
  --text-heading2-desk:  24px/1.2 var(--font-family);
  --text-heading3-desk: italic bold  20px/1.2 var(--font-family);  
  --text:16px/1.5 var(--font-family);
  --text-md: 14px/1.75 var(--font-family);
  --text-sm: 12px/1.75 var(--font-family);
  

}

body {
  font: var(--text);
  color: var(--texto-secundario-color);
  background-color: var(--background-color);
}
