nav {
  /* background-color: var(--surface-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding-block: 24px;

}

nav #grupo-logo {
  display: flex;
  align-items: center;
}

nav img:first-child {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

nav #grupo-logo #logo {
  align-items: center;
}

nav #grupo-logo span {
  color: #de4a62;
  font-size: 20px;
  font-weight: 700;
}

/* nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
} */

#menu-primario {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

#menu-toggle {
  display: none;
}

@media (max-width: 1004px) {
  #menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--brand-color);
    margin-left: auto;
  }

  nav.container {
    position: relative;
    flex-direction: row;
    align-items: center;
  }
  
  #grupo-logo {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  nav img:first-child {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

  nav #grupo-logo span {
    color: #de4a62;
    font-size: 16px;
    font-weight: 700;
    white-space: normal;      /* Permite quebra de linha */
    max-width: 140px;         /* Ajuste conforme necessário */
    display: none;           /* Garante que ocupe toda a linha */
  }

  #menu-primario {
    display: none;
    flex-direction: column;
    gap: 20px;
    background: var(--surface-color);
    position: absolute;
    top: 60px; /* ajuste conforme altura do nav */
    right: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    padding: 16px 24px;
    border-radius: 8px;
    z-index: 100;
    font: var(--text-heading2-desk)
  }

  #menu-primario.open {
    display: flex;
  }
/*   nav.container {
    position: relative;
    flex-direction: row;
    align-items: center;
  } */
}
